/* owl tree control CSS */
.econtainer
{
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0 none;
	overflow: hidden;
}

.econtained
{
	position: absolute !important;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	margin: 0 !important;
}

ol.treecontrol
{
	width: 12em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ol.treecontrol ol
{
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #000;
	background-color: #fff;
}

ol.treecontrol li
{
	width: 100%;
	padding: 0;
	margin: 0;
	outline: 0 none;
}

li.collapsible
{
	background-color: #ccc;
}

li li.collapsible
{
	background-color: #eee;
}

li.collapsible ol
{
	background-color: #fff;
}

li.open
{
	color: #f00;
}

li.closed
{
	color: #00f;
}

li.hover
{
	background-color: #ff0;
}

li li.hover
{
	background-color: #0ff;
}
